.jumbotron {
  border-radius: 0px;
  background-image: url("https://cdn.pixabay.com/photo/2020/04/15/12/09/summer-5046401_1280.jpg");
  height: 400px;
  background-size: cover;
  background-position: center;
}
